<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{{title1}}</title>
    <link rel="stylesheet" href="/static/master.css">
  </head>

  <body>
  <div class="content">

    <h1>Welcome to Cascabel Curve Recommender!</h1>


    <img src="https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW92aWVob3VzZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60" alt=""><br>
    <h2>Show us your taste by rating the following movies:</h2>

    <form action="/recommendations">
      Hellboy: The Seeds of Creation(2004): <input type=text name="'Hellboy': The Seeds of Creation (2004)" placeholder="0-5"><br>
      A Detective Story (2003): <input type=text name="A Detective Story (2003)" placeholder="0-5"><br>
      A Street Cat Named Bob(2016): <input type=text name="A Street Cat Named Bob (2016)" placeholder="0-5"><br>
      Afro Samurai(2007): <input type=text name="Afro Samurai (2007)" placeholder="0-5"><br>
      Antichrist (2009): <input type=text name="Antichrist (2009)" placeholder="0-5"><br>

      <p><input type="submit" id="submit" value="Enter" ></p>


    </form>

  </div>
  </body>

</html>
